<!DOCTYPE html>
<html lang="en" ng-app="waitstaffCalc">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
	<script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
	<title>Waitstaff Calculator</title>
</head>
<body ng-controller="myCtrl">
		<h1>Waitstaff Calculator</h1>
		<div class="container">
			<div class="col-1">
				<form name="mealDetails" class="meal-details" ng-submit="submit(mealDetails)">
					<h2>Enter the Meal Details</h2>
					<div>
						<label for="basePrice">Base Meal Price: $</label><input type="number" name="base meal price" ng-model="meal.basePrice">
					</div>
					<div>
						<label for="tax">Tax Rate: %</label><input type="number" name="tax rate" ng-model="meal.taxRate">
					</div>
					<div>
						<label for="tip">Tip Percentage: %</label><input type="number" name="tip percentage" ng-model="meal.tipPercent">
					</div>
					<div>
						<button type="submit">Submit</button>
						<button>Cancel</button>
					</div>
				</div>
			</form>
			<div class="col-2">
				<div class="charges">
					<h2>Customer Charges</h2>
					<div ng-init="">
						Subtotal: {{subtotal | currency}}
					</div>
					<div>
						Tip: {{tip | currency}}
					</div>
					<div>
						Total: {{total | currency}}
					</div>
				</div>
				<div class="earnings-info">
					<h2>My Earnings Info</h2>
					<div>
						Tip total: {{earnInfo.tipTotal | currency}}
					</div>
					<div>
						Meal count: {{earnInfo.mealCount}}
					</div>
					<div>
						Average Tip Per Meal: {{earnInfo.avgTipMeal | currency}}
					</div>
				</div>
				<div>
					<button ng-click="resetAll()">Reset</button>
				</div>
			</div>
		</div>
		
	<script type="text/javascript" src="script.js"></script>
</body>
</html>