body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: #e1e3e4;
}
h1 {
	text-align: center;
	font-family: 'Lato';
	font-weight: bold;
}

h2 {
	font-weight: normal;
	border-bottom: 1px solid rgba(63, 68, 72, 0.29);
}

button {
	margin-top: 10px;
}

.container {
	text-align: center;
	height: 400px;
}

.row {
	padding: 3px 0;
}

[class*='col-'] {
	float: left;
}

[class*='col-sm'] {
	width: 50%;
}

.col-1, .col-2 {
	width: 50%;
}

form[name="mealDetails"], .charges, .earnings-info {
	width: 90%;
	height: 300px;
	margin: 0 auto;
	background-color: white;
	padding: 1px 0px 10px 0px;
}

form p {
	margin: 0;
	text-align: right;
}

form.ng-submitted input.ng-invalid {
	border: 1px solid red;
}

.error {
	color: red;
}

.earnings-info {
	margin-top: 30px;
}

.inner-container {
	margin: 0 auto;
	height: 300px;
}

.charges .inner-container {
	width: 45%;
}

.earnings-info .inner-container {
	width: 60%;
}

