body, html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background-color: #e1e3e4;
}
h1 {
	text-align: center;
	font-family: 'Lato';
	font-weight: bold;
}

h2 {
	font-weight: normal;
	border-bottom: 1px solid rgba(63, 68, 72, 0.29);
	text-align: center;
}

.btn-container {
	text-align: center;
	margin-top: 10px;
}

.container {
	text-align: center;
	height: 400px;
}

.home-container {
	margin: 0 auto;
	width: 50%;
	height: auto;
}

.row {
	padding: 3px 0;
}

.link-nav {
	text-align: center;
	margin-bottom: 30px;
}

.resetWrapper {
	text-align: center;
}

[class*='col-'] {
	float: left;
}

[class*='col-sm'] {
	width: 50%;
}

.col-1, .col-2 {
	width: 50%;
}

form[name="mealDetails"], .charges, .earnings-info {
	width: 60%;
	height: 300px;
	margin: 0 auto;
	background-color: white;
	padding: 1px 0px 10px 0px;
}

form p {
	margin: 0;
	text-align: right;
}

form.ng-submitted input.ng-invalid {
	border: 1px solid red;
}

.error {
	color: red;
}

.earnings-info {
	margin-top: 30px;
}

.inner-container {
	margin: 0 auto;
	height: 300px;
}

.charges .inner-container {
	width: 45%;
}

.earnings-info .inner-container {
	width: 60%;
}

.sect {
	margin-top: 35px;
}

.animate-view-container {
	position: relative;
	min-height: 100%;
}

.animate-view.ng-enter, .animate-view.ng-leave {
	transition: 1s linear all;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.animate-view.ng-enter {
	opacity: 0;
}

.animate-view.ng-enter.ng-enter-active {
	opacity: 1;
}

.animate-view.ng-leave {
	opacity: 1;
}

.animate-view.ng-leave.ng-leave-active {
	opacity: 0;
}
